section {
  background-image: url(2024-04-04_19.23.45.png);
	background-size: cover;
  background-repeat: no-repeat;
  background-position: center ;
  background-attachment: scroll;
	color: #fff;
  padding: 0 0 24% 0;
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}

body{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-family:'Source Code Pro', monospace;
    transition: all 0.3s ease 0s;
}

div { float: right; margin: 0;} 

div .logo {
    display: inline-block;
    color: white;
    text-align: center;
    margin: 16px 30px;
    text-decoration: none;
    font-family:'Source Code Pro', monospace;
    transition: all 0.3s ease 0s;
}
  
li a:hover {
    background: linear-gradient(to right, #2980B9, #6DD5FA, #c9e8ff); 
}

b.logo{
    float:right;
}
  
ul {
    display: inline-block;  
    list-style-type: none;
    margin: 0 0 10rem 0 ;
    padding: 0;
    overflow: hidden;
    border-radius: 10px;
}

h1 { 
  color: white;
  text-align: center;
  font-size: 30pt;
}


.fa-discord {
  display: flex;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  border-style: none;
}

.fa-envelope{ 
  display: flex;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  border-style: none;
}

.fa-facebook {
  display: flex;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  border-style: none;
}

.fa-youtube{
  display: flex;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  border-style: none;
}
  
.custom-shape-divider-bottom-1713064447 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1713064447 svg {
  position: relative;
  display: block;
  width: calc(255% + 1.3px);
  height: 450px;
}

.custom-shape-divider-bottom-1713064447 .shape-fill {
  fill: #FFFFFF;
}

@media only screen and (max-width: 1680px) {
  section {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: local;
      padding: 0 0 24% 0;
}
}
@media only screen and (max-width: 736px) {
  section {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: local;
  }
}
