section {
  background-image: url(2024-04-04_19.23.45.png);
	background-size: cover;
  background-repeat: no-repeat;
  background-position: center ;
  background-attachment: scroll;
	color: #fff;
  border-radius: 2px;
  max-width: 100%;
  padding: 0 0 16% 0 ;
  height: auto;
}

body{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a.main {
  background-color: lightskyblue;
  text-align: center;
  padding: 30px 14px ;
  float: left;
  border-radius: 10px;
  overflow: hidden;
}

a.main:hover {
  background: #2980B9;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 30px 14px;
    text-decoration: none;
    font-family:'Source Code Pro', monospace;
    transition: all 0.3s ease 0s;
    border-radius: 10px;
}

div { float: right; margin: 0;} 

div .logo {
    display: inline-block;
    color: white;
    text-align: center;
    margin: 16px 30px;
    text-decoration: none;
    font-family:'Source Code Pro', monospace;
    transition: all 0.3s ease 0s;
}
  
li a:hover {
    background: linear-gradient(to right, #2980B9, #6DD5FA, #c9e8ff); 
}

.logo{
    float:right;
}
  
ul {
    display: inline-block;  
    list-style-type: none;
    margin: 0 0 5rem 0 ;
    padding: 0;
    overflow: hidden;
    border-radius: 10px;
}

h1 { 
  color: white;
  text-align: center;
  font-size: 30pt;
}


.fa-discord {
  display: flex;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  border-style: none;
}

.fa-envelope{ 
  display: flex;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  border-style: none;
}

.fa-facebook {
  display: flex;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  border-style: none;
}

.fa-youtube{
  display: flex;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  border-style: none;
}
  
.custom-shape-divider-bottom-1713064447 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1713064447 svg {
  position: relative;
  display: block;
  width: calc(255% + 1.3px);
  height: 450px;
}

.custom-shape-divider-bottom-1713064447 .shape-fill {
  fill: #FFFFFF;
}

@media only screen and (max-width: 1024px) {
  section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: local;
    padding: 0 0 50% 0 ;
}
.custom-shape-divider-bottom-1713064447  svg {
  width: calc(255% + 1.3px);
  height: 450px;
}
li a { font-size: 18pt ; padding: 18px  18px 16px; }

a.main { font-size: 18pt; padding: 18px  18px 16px;}

ul {margin: 0 0 25rem 0;}

h1 {
  word-break: break-word;
  letter-spacing: 0.1rem;
  font-size: 45px;
  height: 5em;
}
.fa-discord,.fa-envelope,.fa-facebook,.fa-youtube{
  font-size: 30px;
  position:center;
  padding: 3px;
  
}
}
@media only screen and (max-width: 950px) {
  section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: local;
    padding: 0 0 60% 0 ;
}
.custom-shape-divider-bottom-1713064447  svg {
  width: calc(255% + 1.3px);
  height: 450px;
}
li a { font-size: 16pt ; padding: 16px 14px; }

a.main { font-size: 16pt; padding: 16px 14px;}

ul {margin: 0 0 20rem 0;}

h1 {
  word-break: break-word;
  letter-spacing: 0.1rem;
  font-size: 40px;
  height: 5em;
}
.fa-discord,.fa-envelope,.fa-facebook,.fa-youtube{
  font-size: 25px;
  position:center;
  padding: 3px;
  
}

}
@media only screen and (max-width: 900px) {
  section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: local;
    padding: 0 0 40% 0 ;
}
.custom-shape-divider-bottom-1713064447  svg {
  width: calc(255% + 1.3px);
  height: 450px;
}
li a { font-size: 14pt ; padding: 16px 14px; }

a.main { font-size: 14pt; padding: 16px 14px;}

ul {margin: 0 0 20rem 0;}

h1 {
  word-break: break-word;
  letter-spacing: 0.1rem;
  font-size: 40px;
  height: 5em;
}
.fa-discord,.fa-envelope,.fa-facebook,.fa-youtube{
  font-size: 18px;
  position:center;
  padding: 3px;
  
}

}

@media only screen and (max-width: 480px) {
  body {
    background-size: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: local;
}

  section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: local;
    padding: 0 0 100% 0;
}

li a { font-size: 12pt ; padding: 16px 18px;}

a.main { font-size: 12pt; padding: 16px 18px;}

.logo {
  height: 5em;
  line-height: 8em;
  position: absolute;
  right: 3em;
  top: 0;
}

ul {
  margin: 0 0 10rem 0;
}

h1 {
    word-break: break-word;
    letter-spacing: 0.1rem;
    font-size: 20px;
    height: 5em;
}

.fa-discord,.fa-envelope,.fa-facebook,.fa-youtube{
  font-size: 16px;
  position:center;
  padding: 3px;
  
}

}
@media only screen and (max-width: 376px) {
  body {
      background-size: auto;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: local;
  }

  section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: local;
    padding: 0 0 50% 0;
}

  li a { font-size: 12pt ; padding: 16px 18px;}

  a.main { font-size: 12pt; padding: 16px 18px;}

  .logo {
    height: 5em;
    line-height: 8em;
    position: absolute;
    right: 0.5em;
    top: 0;
  }

  ul {
    margin: 0 0 10rem 0;
  }

  h1 {
      word-break: break-word;
      letter-spacing: 0.1rem;
      font-size: 1.1rem;
      height: 5em;
  }
  
  .fa-discord {
    font-size: 14px;
    position:center;
    padding: 3px;
    
}
  
  .fa-envelope{ 
    font-size: 14px;
    position:center;
    padding: 3px;
}
  
  .fa-facebook {
    font-size: 14px;
    position:center;
    padding: 3px;
}

  .fa-youtube{
    font-size: 14px;
    position:center;
    padding: 3px;
}
}

@media only screen and (max-width: 375px) {
  body {
      background-size: auto;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: local;
  }

  section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: local;
    padding: 0 0 70% 0;
}

  li a { font-size: 12pt ; padding: 16px 18px;}

  a.main { font-size: 12pt; padding: 16px 18px;}

  .logo {
    height: 5em;
    line-height: 8em;
    position: absolute;
    right: 0.5em;
    top: 0;
  }

  ul {
    margin: 0 0 7rem 0;
  }

  h1 {
      word-break: break-word;
      letter-spacing: 0.1rem;
      font-size: 1.1rem;
      height: 5em;
  }
  
  .fa-discord {
    font-size: 14px;
    position:center;
    padding: 3px;
    
}
  
  .fa-envelope{ 
    font-size: 14px;
    position:center;
    padding: 3px;
}
  
  .fa-facebook {
    font-size: 14px;
    position:center;
    padding: 3px;
}

  .fa-youtube{
    font-size: 14px;
    position:center;
    padding: 3px;
}
}